* {
  box-sizing: border-box;
}

/* with not */

/* .container > :not(p) {
  color: red;
} */

/* not working  */
/* a :not(.active) {
  color: gray;
} */

/* a:not(.active) {
  color: gray;
} */

/* without not */

.container > * {
  color: red;
}

.container p {
  color: unset;
}
